.SearchBox {
  width: 400px;
  display: grid;
  grid-template-columns: auto 50px auto;

  background: #eee;
  border-radius: 3px;
  padding: 1em;

  text-align: center;

  &__from {
    grid-row: 1;
    grid-column: 1;
  }

  &__separator {
    grid-row: 2;
    grid-column: 2;
  }

  &__to {
    grid-row: 1;
    grid-column: 3;
  }

  &__from-input {
    grid-row: 2;
    grid-column: 1;
  }

  &__to-input {
    grid-row: 2;
    grid-column: 3;
  }

}