.Flight {
	margin-top: 0.5em;

	&__airline {
		display: flex;
		align-items: center;
	}

	&__airline-logo {
		margin-right: 0.5em;

		img {
			height: 30px;
		}
	}

	&__arrival, &__departure {
		display: flex;

		&-time {
			margin-right: 1em;
		}
	}
}