.SelectedLocation {
	padding: 0.5em;
	border: 1px solid #3b3b3b;
	display: flex;
	align-items: center;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
	background: white;

	&:hover &__remove {
		opacity: 1;
	}

	&__name {
		flex-grow: 1;
	}

	&__tag {
		flex-shrink: 1;
		margin-left: 1em;
	}

	&__remove {
		flex-shrink: 1;
		margin-left: 1em;
		opacity: 0.5;
	}
}