.SearchBox {
	display: inline-grid;
	grid-template-columns: auto 100px auto;

	background: #eee;
	border-radius: 3px;
	padding: 1em;

	text-align: center;

	&__from {
		grid-row: 1;
		grid-column: 1;
	}

	&__separator {
		grid-row: 2;
		grid-column: 2;
	}

	&__to {
		grid-row: 1;
		grid-column: 3;
	}

	&__input {
		width: 300px;
		text-align: left;

		input {
			width: 100%;
		}
	}

	&__input-from {
		grid-row: 2;
		grid-column: 1;
	}

	&__input-to {
		grid-row: 2;
		grid-column: 3;
	}

}