@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(60deg);
	}
}

.Loader {
	display: inline-block;
	text-align: center;

	&--fullWidth {
		display: block;
	}

	&__spinner {
		animation: rotate 0.7s infinite ease;
	}

	&--small {
		font-size: 14px;
	}

	&--medium {
		font-size: 30px;
	}

	&--large {
		font-size: 60px;
	}
}