@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.Loader {
	display: inline-block;
	text-align: center;

	&--fullWidth {
		display: block;
	}

	&__spinner {
		animation: rotate 1s infinite linear;
	}

	&--small {
		font-size: 14px;
	}

	&--medium {
		font-size: 22px;
	}

	&--large {
		font-size: 30px;
	}
}