@mixin input-box {
	padding: 0.5em;
	background: white;
	border: 1px solid #3b3b3b;
	border-radius: 3px;
	font-size: 13px;
	box-sizing: border-box;
}

@mixin button {
	cursor: pointer;
	padding: 0.5em;
	background: #3b3b3b;
	color: white;
	border-radius: 3px;
	border: none;
	font-size: 13px;
	box-sizing: border-box;
	outline: none;

	&:disabled, &.disabled {
		opacity: 0.5;
		cursor: default;
	}
}