.LocationInput {
	position: relative;

	&__suggestions {
		position: absolute;
		width: 400px;
		z-index: 100;
		text-align: left;
		background: white;
		border: 1px solid #3b3b3b;
		border-radius: 0 5px 5px 5px;
		padding: 0.5em;
	}

	&__suggestions-empty {
		text-align: center;
	}
}

.Suggestion {
	display: flex;
	align-items: center;
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}

	&__tag {
		flex-shrink: 1;
		padding: 2px 0.5em;
		margin-left: 0.5em;
		border-radius: 5px;
		border: 1px solid #3b3b3b;
		color: #3b3b3b;
		text-transform: uppercase;
		font-size: 10px;
	}

	&__name {
		flex-grow: 1;
	}
}